<!DOCTYPE>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="refresh" content="3" />
  <link rel="stylesheet" href="/css/stylesOut.css" type="text/css" />
  <title>LogicNosh</title>
</head>

<body>
  <nav class="flex justify-between w-full bg-blue-600">
    <img src="" alt="" />
    <div class="flex justify-center gap-6">
      <p>Portfolio</p>
      <p class="">Services</p>
      <p>About</p>
      <p>Contact</p>
    </div>
    <button type="button">Let's Talk Business</button>
  </nav>
</body>
<script type="text/javascript" src="/home/script.js"></script>

</html>
